<section class="vh-100 fondo imagen-fondo">
  <section class="fondo">
   <section class="container py-5 h-100">
     <section class="row d-flex justify-content-center align-items-center h-100">
       <section class="col-12 col-md-8 col-lg-6 col-xl-5">
         <section class="card shadow-2-strong border border-succes login">
           <section class="card-body p-5 text-center">
            <h1 class="mb-5 text-dark">Login</h1>
            <form>
              <mat-form-field appearance="fill" class="form-outline w-100">
                  <mat-label>Username</mat-label>
                  <input matInput type="text" required  [(ngModel)]="name" name="username" >
                  <mat-error *ngIf="username.invalid">{{getErrorMessage()}}</mat-error>
              </mat-form-field>
              <br>
              <mat-form-field appearance="fill" class="form-outline w-100 mb-3">
                  <mat-label>Password</mat-label>
                  <input matInput [type]="hide ? 'password' : 'text'" [formControl]="password" required [(ngModel)]="pass" name="password">
                  <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                  </button>
                  <mat-error *ngIf="password.invalid">{{getErrorMessage()}}</mat-error>
              </mat-form-field>
              <br>
                <button class="mb-4 w-100" mat-raised-button color="primary" (click)="Login()">Log in</button>
            </form>
            </section>
          </section>
        </section>
      </section>
    </section>
  </section> 
</section> 