.imagen-fondo{
    height: 100%;
    background-image: url("../../../assets/fondo_login.webp");
    background-size: cover;
    background-position: center;
    background-color: rgba(204, 198, 198, 0.568);
    }
    
.fondo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    margin: auto;
    background-color: rgba(204, 198, 198, 0.568);

}
    

.login{
    background-color: rgba(255, 255, 255, 0.842);
}
